<!-- views/delete-account.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>

   <form action="/delete-account-process" method="post">
    <button type="submit">Delete Account</button>
  </form>

</body>
</html>
